@media screen and (min-width: 1120px) { 
    
    .image_block {
        width: 531.35px;
        height: 383.24px;
    }

    .block-text__three {
        display: flex;
    }

    .block-main {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 40px;
        width: 1096px;
        margin-left: 10px;
        margin-right: 15px;
        overflow-y: hidden;
        white-space: nowrap;
        gap: 65px;
    }

    .block_320 {
        display: none;
    }

    .block_image_768px {
        display: none;
    }

    .header-block__navigation {
        width: 1096px;
        display: flex;
        justify-content: end;
        
    }
    

 }