@media screen and (min-width: 1120px) { 
    

    body {
        background: #F8F8F8;
    }


    .block-text__image_block {
        width: 531.35px;
        height: 383.24px;
    }

    .flex-column__block-text--three {
        display: flex;
    }

    .block_320 {
        display: none;
    }

    .block_image_768px {
        display: none;
    }

    .header-navigation {
        width: 1096px;
        display: flex;
        justify-content: end;
        
    }
    
    .main-logo {
        width: 1096px;
        height: 80px;
        display: flex;
        gap: 25px;
        margin: 20px 0;
        margin-bottom: 0;
        align-items: center;
    }

    .block_image_1120px {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 25px;
        margin-left: 400px;
        margin-right: 5px;
    }

    .main-logo__img {
        display: flex;
        margin-right: 25px;
    }

    .block_image_1120px__button-1120px {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: end;
        border: none;
        background: #F8F8F8;
        white-space: nowrap;
    }

    .main-logo__name {
        display: flex;
        width: 266px;
        height: auto;
        justify-content: start;
        white-space: nowrap;
    }



    .logo__img--name {
        display: flex;
        gap: 50px;
        margin-right: 28px;
    }


    .block-main__button {
        display: flex;
        margin-right: 0px;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }


    .block-main__button--active {
        display: flex;
        white-space: nowrap;
        border: 3px solid #B8FFEC;
        padding: 8px;
        border-radius: 0.3em;
    }

    .block-text {
        display: flex;
        flex-direction: row;
    }

    .flex-column {
        width: 490px;
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .flex-column:nth-child(1) { /* не надежно, но сойдет */
        gap: 0;
    }

    .block-text__image_block {
        display: flex;
        margin-left: 40px;
        margin-top: 20px;
        width: 531.35px;
        height: 307px;
        border-radius: 0.3em;
    }

    .block-text__two {
        margin-top: 0px;
        margin-bottom: 0;

    }

    .flex-column__block-text--three {
        margin-top: 0;
        
    }

    .container-read {
        margin-top: 15px;
        display: flex;
        gap: 5px;
        margin-left: 30px;

    }

    .block-text_768, .flex-column__block-text--three {
        font-size: 14px;
        line-height: 20px;
        margin-top: 15px;
        margin-left: 35px;
        display: flex;
        flex-direction: column;

    }
    
    .block-main {
        display: flex;
        font-size: 16px;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        height: 82px;
        width: 1096px;
        margin-left: 52px;
        margin-right: 15px;

    }

    .block_image_320px {
        display: none;
    }

    .block_image_320px__img {
        display: flex;
    }
    
    .block_image_320px__img_1120px {
        display: none;
        margin-right: 25px;
    }

    .button-v2, .block-main__button--1120 {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    background: #F8F8F8;
    margin-right: 20px;
    margin-left: 3px;
    margin-top: 5px;
    }


    .block-main__button--active {
        padding: 10px 20px;

    }
}