@media screen and (min-width: 1120px) { 
    

    body {
        background: #F8F8F8;
    }


    .image_block {
        width: 531.35px;
        height: 383.24px;
    }

    .block-text__three {
        display: flex;
    }

    .block_320 {
        display: none;
    }

    .block_image_768px {
        display: none;
    }

    .header-block__navigation {
        width: 1096px;
        display: flex;
        justify-content: end;
        
    }
    
    .main-logo {
        width: 1096px;
        height: 80px;
        display: flex;
        gap: 25px;
        margin: 20px 0;
        margin-bottom: 0;
        align-items: center;
    }

    .block_image_1120px {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 25px;
        margin-left: 440px;
        margin-right: 5px;
    }

    .main-logo__img {
        display: flex;
        margin-right: 25px;
    }

    .button--1120px {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: end;
        border: none;
        background: #F8F8F8;
        white-space: nowrap;
        
    }

    .main-logo__name {
        display: flex;
        width: 266px;
        height: auto;
        justify-content: start;
        white-space: nowrap;
        
    }



    .logo__img--name {
        display: flex;
        gap: 50px;
        margin-right: 28px;
    }

    .main-logo__img {
        display: flex;
        
    }

    .block-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        height: 82px;
        width: 1096px;
        margin-left: 52px;
        margin-right: 15px;

    }

    .block-main-button__active {
        margin-right: 40px;
    }

    .block-main-button {
        display: flex;
        white-space: nowrap;
    }

    .block-main-button {
        margin-right: 40px;
    }

    .block-main-button--1120 {
        margin-top: 10px;
        margin-left: 10px;
    }

    .block-main-button__active {
        display: flex;
        white-space: nowrap;
        border: 3px solid #B8FFEC;
        padding: 8px;
        border-radius: 0.3em;
    }

    .block-text {
        display: flex;
        flex-direction: row;
    }

    .flex-column {
        width: 490px;
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .flex-column:nth-child(1) { /* не надежно, но сойдет */
        gap: 0;
    }

    .image_block {
        display: flex;
        margin-left: 40px;
        margin-top: 20px;
        width: 531.35px;
        height: 307px;
        border-radius: 0.3em;
    }

    .block-text__two {
        margin-top: 20px;
        margin-bottom: 0;

    }

    .block-text__three {
        margin-top: 0;
        
    }

    .container-read {
        margin-top: 15px;
        display: flex;
        gap: 5px;
        margin-left: 30px;

    }

    .block-text_768, .block-text__three {
        font-size: 14px;
        margin-top: 15px;
        margin-left: 35px;
        display: flex;
        flex-direction: column;

    }

    .block_image_320px {
        display: none;
    }


 }

