@media screen and (min-width: 320px) and (max-width: 767px){
    body {
        font-family: "TT Lakes", "Arial", sans-serif;
    }

    .header-block__navigation {
        display: flex;
        width: 320px;
        height: 88px;
        justify-content: space-around;
        align-items: center;
    }

    .block_320 {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .main-logo{
        display: flex;
        justify-content: start;
        gap: 10px;
        align-items: center;
        width: 304px;
        height: 40px;
        margin-bottom: 30px;
    }   
    
    .block-main {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 40px;
        width: auto;
        margin-left: 10px;
        margin-right: 15px;
        overflow-y: hidden;
        white-space: nowrap;
        gap: 15px;
        
        
        
    }

    .block-main-button__active {
        border: 3px solid #B8FFEC;
        padding: 8px;
        border-radius: 0.3em;

    }

    .block-main-button {
        padding: 15px;
    }

    .block-text__one {
        display: flex;
        margin: 15px 10px;
        flex-direction: column;
    }

    .block-text__two {
        display: none;
    }

    .container-read {
        width: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 10px;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    
    .container-read__iamge {
        display: flex;
        width: 24px;
        height: 24px;

    }

    .none {
        display: none;
    }

    .img-divider-2 {
        display: none;
    }

    .image_block {
        width: 320px;
        height: 176px;
    }
    .block-text__three, .block-text__two {
        display: none;
    }

    .block-text__one {
        width: 288px;
        height: 90px;
    }

    .block_image_320px {
        display: flex;
        gap: 15px;
    }


    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .block_image_1120px {
        display: none;
     }
     
 }