* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "TT Lakes", "Arial", sans-serif;
}

.block_image_320px__img {
    width: 40px;
    height: 40px;

}

.block_320__img-group {
    width: 96.55px;
    height: 50.81px;
}

.block_320__img-divider {
    width: 2px;
    height: 32px;
}

.main {
    background-color: #F8F8F8;

}

.header-navigation__button {
    border: none;
    background: #F8F8F8;
}