* { 
margin: 0;
padding: 0;

}
body {
    font-family: "TT Lakes", "Arial", sans-serif;
}

.img {
    width: 40px;
    height: 40px;

}

.img-group {
    width: 96.55px;
    height: 50.81px;
}

.img-divider {
    width: 2px;
    height: 32px;
}

.main {
    background-color: #F8F8F8;

}
